.primary{
    padding: 1rem 2.5rem;
    background-color: #2D2641;
    color: white;
}

.primary:hover{
    background-color: white;
    color: #2D2641;
    border: 1.5px solid #2D2641;
    transition: 0.3s;
    cursor: pointer;
}

.secondary{
    padding: 1rem;
    background: transparent;
    color: white;
    border: 1.5px solid white;
}



.secondary:hover{
    background-color: white;
    color: #2D2641;
    border: 1.5px solid white;
    transition: 0.3s;
    cursor: pointer;
}


.buttonForm{
    border: 0.5px black solid;
    padding: 1rem 2.5rem;
    background-color: white;
    color: black;
    width: 30.40vw;
    margin-bottom: 30px;
}

.buttonForm:hover{
    background-color:#2D2641 ;
    color: white;
    border: 1.5px solid white;
    transition: 0.3s;
}